html, body {
    height: 100%;
    margin: 0 auto;
  }
  body {
    width:90%;
    display: flex;
    flex-direction: column;
  }
.navbar
{
    margin-top: 50px;
}
.content{
    flex: 1 0 auto;
    padding: 20px;
}
.footer{
    flex-shrink: 0;
}
.container-fluid{
    padding: 0px;
    display:none;
    margin-top: 75px;
}
.col-3
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    
}
hr{
    margin-bottom:22px;
    margin-top: 0px;
}